@model CustomRouteType


<h3 class="display-4" asp-for="Headline"></h3>

<p>
  <em>
    By <sc-text asp-for="Author"></sc-text>
  </em>
</p>

<div class="contentDescription">
  <sc-text asp-for="Content"/>
</div>


<p><a href="/styleguide">Return to the Styleguide</a></p>
