@model FieldUsageCheckbox
@{
  Layout = "_FieldUsageLayout";
}

<ul>
  <li>
    <code>checkbox</code> is @Model.Checkbox?.Value
  </li>
  <li>
    <code>checkbox2</code> is @Model.Checkbox2?.Value
  </li>
</ul>
