@model Component

<div style="border:1px solid #ff0000">
  <h3 class="border-bottom">Missing Component View: @Model.Name</h3>  
  <div class="pt-3">
    <p>
      <small>Id: @Model.Id<br />
      DataSource: @Model.DataSource<br />
      </small>
    </p>
  </div>
</div>
